html {
  font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Quattrocento"; /* this should be the rest of the output you got from Google Fonts */
  background-color: rgb(226, 215, 119);
}
body {
  width: 300px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px dotted black;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: blueviolet;
  text-shadow: 3px 3px 0px rgb(40, 33, 78);
  font-size: 32px;
  text-align: center;
  animation: 1s ease infinite alternate wobble;

}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  animation: .5s ease infinite alternate slidein;
}

@keyframes slidein {
  from {
  }

  to {
    transform: translateY(5px);
  }
}

@keyframes wobble {
  from {
    font-size: 32px;
  }

  to {
    font-size: 36px;
  }
}

img {
  display: block;
  margin: 0 auto;
}
